nav {
	display: flex;
	background-color: black;
}

nav img {
	filter: invert(1);
	height: 30px;
	width: 50px;
	object-fit: contain;
}

nav ul {
	width: 100%;
	padding: 0 10vw;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav ul div {
	display: flex;
}
nav ul div li * {
	color: white;
	text-decoration: none;
	margin-right: 10px;
	margin-left: 10px;
}
li.logo {
	font-size: 25px;
}


input {
	display: block;
}
img {
/*	opacity: 0; */
	width: 200px;
	height: 200px;
	object-fit: cover;
}
img[src=''] {
	opacity: 0;
}
img:not([src='']) {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@keyframes fadeIn {
	from {opacity:0;}
	to {opacity:1;}
}
@import url(http://weloveiconfonts.com/api/?family=entypo);
.heart {
	font-family: 'entypo', sans-serif;
	font-size: 20px;
	width: 20px;
	transition: color 0.5s 0.1s;
}
.liked {
	color: red;
}
.not_liked {
	color: white;
	-webkit-text-stroke: 1px #111;
	-moz-text-stroke: 1px #111;
}
.not_liked:hover {
	color: #f99092;
}
.likes > * {
	margin-top: 0;
	margin-left: 3px;
	display: inline-block;
}

@media only screen and (max-width: 600px) {
	.logo {
		display: none;
	}
}

@media only screen and (max-width: 450px) {
	nav {
		flex-direction: column;
		text-align: center;
	}
	nav ul {
		flex-direction: column;
		padding: 0;
	}
	nav ul div li {
		width: 100px;
		text-align: center;
	}
	nav ul div li * {
		margin: 0;
	}
}
